[Unit]
Description=SystemdHealthcheck sample service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=notify
ExecStart=/home/ubuntu/Documents/publish/SystemdHealthcheck
Restart=always
RestartSec=1
TimeoutSec=60
WatchdogSec=90

[Install]
WantedBy=multi-user.target