[Unit]
Description=SystemdHealthcheck sample service
After=network.target
StartLimitIntervalSec=0

[Service]
Environment=PORT=5000
Type=notify
ExecStart=/home/gitlab-runner/publish/SystemdHealthcheck
Restart=always
RestartSec=1
TimeoutSec=60
WatchdogSec=90

[Install]
WantedBy=multi-user.target
